<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">                                                   
    <title>WEB Design AI Coach</title>
	<link href="/static/css/style.css" rel="stylesheet" media="screen">
	<!--<link href=""/statics/stylephone.css" rel="stylesheet" media="screen and (max-width:799px)">-->
</head>
<body>
	 <h1>WEB Design AI Coach</h1>

	<form method="post" action="/review">
        	<h3>HTMLコード</h3>

        	<textarea
			name="html_code"
             		rows="10"
			cols="80" 
			placeholder="HTMLコードを入力してください"></textarea>
        	<br><br>

        	<h3>CSSコード</h3>
        	<textarea 
			name="css_code" 
			rows="10" 
			cols="80" 
			placeholder="CSSコードを入力してください"></textarea>
        	<br><br>

        	<h3>質問・相談内容</h3>
        		<input type="text" name="question" size="80"  placeholder="質問を入力してください">
        	<br><br>

        	<button type="submit">AI添削ボタン</button>

	</form>
</div><!--#wrap-->
</body>
</html>